@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.footer a{
    text-decoration: none;
    color: green;
    font-weight: bolder;
    font-family: 'Satisfy', cursive;
    font-size: x-large;

    
}

.chini{
    color: white;
}